main{
	padding: 0 90px;
	color: #363636;
}

p{
	font-size: 1.1em;
}

.profile header{
	text-align: center;
}

.featured-image{
	padding-top: 40px;
	width: 100%;
	max-height: 500px;
	object-fit: cover;
	object-position: center;
}

.berita7{
	max-height: 800px;
}

.profile img{
	width: 230px;
}

.card{
	background-color: rgba(255,255,255, .6);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
	border-radius: 5px;
	padding: 20px;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #363636;
}

a {
	text-decoration: none;
}


#content{
	float: left;
	width: 75%;
}

.judul{
	text-align: center;
	margin-top: 40px;
}

.judul p{
	color: #808080;
}

.judul img{

}

aside h3{
	text-align: center;
	border-bottom: 3px solid #808080;
	margin: 30px 90px;
}

a .card:hover{
	box-shadow: 0 4px 8px 0 #696969;
	color: black;
	transition: .5s;
	background-color: rgba(255,255,255, .7);
}